.img {
    background-color: blue;
    padding: 20px;
    color: white;
}

  .loader {
    overflow: visible;
    height: fit-content;
    width: fit-content;
    display: flex;
  }

  .logo {
    fill: none;
    stroke-dasharray: 20px;
    /*<-- Play with this number until it look cool */
    stroke: black;
    animation: load 15s infinite linear;
  }

  @keyframes load {
    0% {
      stroke-dashoffset: 0px;
    }

    100% {
      stroke-dashoffset: 200px;
      /* <-- This number should always be 10 times the number up there*/
    }
  }

  .logoimage{
    height: 400px;
    position: absolute;
    left: 555px;
    top: 185px;
  }
